 .cta-wrapper {

     &.style2 {
         position: relative;
         background: $theme-color;
         margin-bottom: -180px;
         z-index: 5;

         .shape1 {
             position: absolute;
             bottom: 0;
             left: 0;
             z-index: 1;
         }

         .shape2 {
             position: absolute;
             top: 0;
             right: 0;
             z-index: 1;
         }

         .cta-thumb {
             position: relative;
             z-index: 2;
         }

         .section-title {
             h2 {
                 color: $white;
                 font-family: $title-font;
                 font-size: 36px;
                 font-style: normal;
                 font-weight: 700;
                 line-height: 50px;
                 letter-spacing: -1.08px;
             }
         }

         @include breakpoint (max-xl) {
             padding: 30px 10px;

             .shape1 {
                 display: none;
             }

             .shape2 {
                 display: none;
             }

             .section-title {
                 margin-top: 30px;
             }
         }
     }

     &.style3 {
         position: relative;
         text-align: center;
         z-index: 2;

         .video-wrap {
             position: absolute;
             top: -153px;
             left: 50%;
             background: transparent;
             width: 100px;
             height: 100px;

             .playerImg {
                 width: 100px;
                 height: 100px;
             }

             transform: translateX(-50%);
             -webkit-transform: translateX(-50%);
             -moz-transform: translateX(-50%);
             -ms-transform: translateX(-50%);
             -o-transform: translateX(-50%);
         }

         h3 {
             color: $white;
             text-align: center;
             font-family: $body-font;
             font-size: 48px;
             font-style: normal;
             font-weight: 700;
             line-height: 60px;
             letter-spacing: -1.44px;
             margin-top: 150px;

             @include breakpoint (max-md) {
                 font-size: 37px;
                 line-height: 45px;
             }
         }

         p {
             color: $white;
             text-align: center;
             font-family: $body-font;
             font-size: 18px;
             font-style: normal;
             font-weight: 700;
             line-height: 90px;
             letter-spacing: 3.6px;
             text-transform: uppercase;
         }
     }
 }


 .cta-container-wrapper {
     &.style3 {
         position: relative;

         &::before {
             position: absolute;
             content: '';
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             background: rgba(22, 25, 33, 0.45);
             z-index: 1;
         }
     }
 }





 .subscribe-container-wrapper {
     &.style1 {
         position: relative;
         z-index: 9;
         margin-bottom: -100px;
     }
 }

 .subscribe-wrapper {
     &.style1 {
         padding: 80px;
         background: $theme-color;

         .subscribe-content {
             h2 {
                 color: $white;
                 font-family: $title-font;
                 font-size: 36px;
                 font-style: normal;
                 font-weight: 700;
                 line-height: normal;
                 letter-spacing: -1.08px;
                 margin-bottom: 10px;
             }

             p {
                 color: $white;
                 font-family: $body-font;
                 font-size: 16px;
                 font-style: normal;
                 font-weight: 400;
                 line-height: 28px;
             }
         }

         @include breakpoint (max-lg) {
             padding: 30px;
         }
     }
 }



 .subscription-box {
     padding: 20px;
     display: flex;
     justify-content: center;
     align-items: center;

     input[type="email"] {
         border: 1px solid $border-color-4;
         background: transparent;
         color: $text-color;
         padding: 10px 15px;
         font-size: 16px;
         outline: none;
         border-radius: 0;
         width: 250px;
         transition: border-color 0.3s;

         &::placeholder {
             color: $white;
             opacity: 0.7;
         }

         &:focus {
             border-color: lighten(#E0E0E0, 20%);
         }
     }

     button {
         margin-left: 10px;
         padding: 12px 16px;
         background-color: $white;
         color: $text-color;
         border: none;
         cursor: pointer;
         font-size: 16px;
         transition: background-color 0.3s, color 0.3s;

         &:hover {
             background-color: darken(#C7844F, 10%);
             color: lighten(#fff, 10%);
         }
     }

     @include breakpoint (max-lg) {
         flex-wrap: wrap;
         gap: 20px;
     }
 }